<div class="section" id="typography">
	<h1>Typography</h1>
	<h1>Header 1</h1>
	<h2>Header 2</h2>
	<h3>Header 3</h3>
	<h4>Header 4</h4>
	<h5>Header 5</h5>
	<h6>Header 6</h6>
	<p>{{loremipsum}}</p>
	<h2>Classes</h2>
	<h1 class="mat-display-1"><code>h1.mat-display-1</code></h1>
	<h1 class="mat-display-2"><code>h1.mat-display-2</code></h1>
	<h1 class="mat-display-3"><code>h1.mat-display-3</code></h1>
	<h1 class="mat-display-4"><code>h1.mat-display-4</code></h1>
	<h1 class="mat-headline"><code>h1.mat-headline</code></h1>
	<h2 class="mat-title"><code>h2.mat-title</code></h2>
	<h3 class="mat-subheading-2"><code>h3.mat-subheading-2</code></h3>
	<h4 class="mat-subheading-1"><code>h4.mat-subheading-1</code></h4>
	<p class="mat-body-1"><code>p.mat-body-1</code></p>
	<p class="mat-body-2"><code>p.mat-body-2</code></p>
	<caption class="mat-caption"><code>caption.mat-caption</code></caption>
</div>